html{
	/* Set height of the html page to 100% of the browser height */
	height: 100%;
	/* Hide horizontal scroll */
	overflow-x: hidden;
	font-family: 'Helvetica', sans-serif;
}

body{
	/* Set height of the body to 100% -- separated out of html to allow scrollTo animation */
	height: 100%;
	margin: 0px;
}

/* 
Navigation Bar 
*/
#nav{
	/* Fix navigation bar at the top middle of the web page */
    position: fixed;
    /* calc() CSS function calculates numbers of different units */
    left: calc(50% - 50px);
    top: 20px;
    /* Display nav bar on top of everything else */
    z-index: 1;
}

.nav-btn{
	width: 20px;
    height: 20px;
    /* Make square div into a circle */
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    /* transition changes in background-color */
    transition: background-color 0.5s;
}

/* When a nav-btn is hovered on, set background-color to black */
.nav-btn:hover{
	background-color: black;
}

/* 
Girl Div
*/
#girl-div{
	/* Fix girl div in the bottom left corner of the web page */
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 300px;
	text-align: center;
}
#leaf-div{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 300px;
	text-align: center;
}
#girl{
	width: 300px;
	margin-top: 18px;
}

#girl-text{
	color: white;
	background-color: black;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 32px;
}
#leaf{
	width: 200px;
	margin-top: 18px;
}

/* 
Parallax: Mountain and Ocean sections;
*/
#cover, #scene1, #scene3, #scene2{
	/* Set height of div to 100% */
	height: 100%;
	/* The bottom three background CSS settings create parallax effect */
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#cover{
	/* Set background image of mountain section using url() function */
	background-image: url('img/cover.png');
}
#scene1{
	/* Set background image of ocean section using url() function */
	background-image: url('img/scene1.png');
}

#scene2{
	/* Set background image of ocean section using url() function */
	background-image: url('img/scene2.png');
}
#scene3{
	/* Set background image of ocean section using url() function */
	background-image: url('img/scene3.png');
}


.text{
	width: 70%;
}